{%extends "base.html" %}


{% block title%}Minhas tarefas{%endblock%}

{% block content %}

{% for task in tarefas %}
{{  task.titulo}}
{{  task.descrcao}}
{% endfor %}

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">titulo</th>
      <th scope="col">descricao</th>
      <th scope="col">prioridade</th>
      <th scope="col">criado_em</th>
    </tr>
  </thead>
  <tbody>

    {% for task in tarefas %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.titulo }}</td>
        <td>{{ task.descricao }}</td>
        <td>{{ task.prioridade }}</td>
        <td>{{ task.criado_em }}</td>
        <tr>


    {% endfor %}

  </tbody>
</table>

        {% endblock %}

